@font-face {
  font-family: 'nerislight';
  src: url('../fonts/Neris-Light-webfont.eot');
  src: url('../fonts/Neris-Light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Neris-Light-webfont.woff') format('woff'),
       url('../fonts/Neris-Light-webfont.ttf') format('truetype'),
       url('../fonts/Neris-Light-webfont.svg#nerislight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gabriolaregular';
  src: url('../fonts/gabriola-webfont.eot');
  src: url('../fonts/gabriola-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gabriola-webfont.woff') format('woff'),
       url('../fonts/gabriola-webfont.ttf') format('truetype'),
       url('../fonts/gabriola-webfont.svg#gabriolaregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
